# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.SharpHoundCommon.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Rohan\RiderProjects\SharpHoundCommon\.idea\.idea.SharpHoundCommon\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
